{% extends 'base.html.twig' %}

{% block title %}CGU Webdsite!{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center">Conditions Générales d'Utilisation du Site Webdsite</h1>

    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore nisi itaque autem in dicta quasi ea dignissimos quidem perspiciatis adipisci facilis hic, harum alias tempora nihil commodi quaerat rerum? Fugit.
        Dolores deserunt harum ratione adipisci odio esse fugiat iusto minus distinctio impedit eos animi obcaecati voluptatem aut officiis quaerat ipsam temporibus soluta deleniti, illo tempora? Excepturi consequatur illum laboriosam fuga.
        Assumenda facilis sit cupiditate ea optio et libero earum obcaecati aperiam placeat animi perferendis officia dicta, odio, laudantium vel odit excepturi commodi iste similique vitae eius corporis nihil quaerat? Minima.
        Voluptatum id in facilis sapiente est obcaecati fuga saepe magnam quaerat pariatur assumenda provident totam illo consequuntur, a dolor? Aliquam sunt tempora autem! Recusandae suscipit incidunt, consequuntur aliquid quasi non!
        Corporis repudiandae fuga id? Quisquam dolores magni repellat fugiat labore maxime reiciendis cupiditate id. Qui mollitia distinctio consectetur, omnis asperiores, exercitationem molestias similique inventore rerum iure suscipit temporibus velit blanditiis.
        Reiciendis, accusantium ipsam commodi ullam ratione et? Iusto obcaecati saepe officiis quibusdam dolorum exercitationem perferendis neque nisi repudiandae architecto doloribus rem, porro ducimus ea quo quasi ipsum iure minima recusandae?
        Debitis ea architecto, suscipit ducimus animi cum nobis deleniti veritatis. Tempore laboriosam assumenda dolorum ad mollitia molestiae ea laudantium. Odit corrupti accusantium id vitae doloremque fuga. Itaque consequuntur assumenda quaerat!
        Facilis impedit nisi doloribus quae eum? Ullam quas, blanditiis placeat ab possimus rem dolorem fugit beatae et asperiores in. Et, magnam recusandae voluptates facilis quia similique harum quis doloremque perferendis!
        Veritatis quaerat explicabo ipsum iste quasi animi iure reiciendis. Dicta velit doloremque, id architecto ipsa quam facilis fugiat porro voluptatibus vitae odit molestiae magnam veniam doloribus. Magnam inventore dicta alias!
        Quaerat inventore placeat blanditiis ullam ut possimus debitis deleniti perspiciatis, nobis quasi? Cupiditate iure nisi eaque neque, quia quas optio numquam similique dolor culpa omnis rerum officia assumenda itaque incidunt.
        Facilis provident aut quisquam, delectus, blanditiis iusto eaque eveniet, debitis adipisci omnis cumque dolores maxime possimus cupiditate rerum velit odit aperiam modi nemo. Eveniet architecto dicta maxime cumque eius consectetur!
        Inventore laborum totam repellendus temporibus error aliquid, repellat, libero vitae dolorum, dolore deserunt. Expedita eius quisquam aut? Suscipit, doloribus repellat alias a porro quaerat, dicta omnis soluta, assumenda cumque rerum.
        Nostrum doloremque mollitia maiores debitis molestiae voluptate error, sed impedit nam consectetur id illum quaerat magni ipsam quibusdam corporis alias rerum tenetur! Ab laudantium fugiat in distinctio optio facere odio.
        Totam dolorem asperiores cumque esse molestias. Ullam quia aliquid similique eum, alias impedit neque tenetur suscipit nemo? Beatae repellendus vero, quis eum fugit consequatur architecto dolores accusantium, nisi ullam doloremque!
        Est doloribus sit ipsum atque numquam deserunt itaque laudantium vero quae laboriosam nisi, harum ad delectus amet accusamus quibusdam aperiam, quam inventore eligendi porro libero quisquam! Asperiores perferendis adipisci eos.
        Quo quidem odio velit provident vel nostrum doloribus sed esse praesentium, maxime facilis, natus tempore, numquam vero laborum. Quo sint iure quasi? Cumque accusantium quae odio, quasi repellat temporibus deleniti!
        Obcaecati sit neque deserunt velit, tenetur blanditiis omnis rem voluptatibus debitis. Ad adipisci est eveniet fuga sed a at consectetur iure. Harum culpa earum possimus itaque autem et rem repellendus.
        Sint ducimus omnis fugiat a amet unde rerum atque maxime magni, excepturi illo at quis minima quae animi quas quibusdam sequi deleniti eaque aperiam in ipsa assumenda accusantium. Atque, mollitia.
        Consequatur fuga, voluptate excepturi soluta, deserunt eaque nostrum in quisquam dicta facilis reiciendis aliquam et atque officiis quas illum sed doloremque repellendus eligendi repellat, praesentium voluptatum. Iure dolore quo ea.
        Culpa iusto molestias iure excepturi nulla sit maiores impedit repudiandae quis ea, quos dolores blanditiis beatae ut sunt error labore praesentium unde consectetur consequatur! Explicabo autem quasi sit repellat dignissimos?
    </p>
</div>
{% endblock %}
