{% extends 'base.html.twig' %}

{% block title %}Modifier Adresse{% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", {'name':'Modifier Adresse'}) }}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Modifier Adresse</h3>
                            </div>
                            <div class="content">
                                {{ include('address/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}
                                <a class=" btn btn-border-fill btn-block mt-2" href="{{ path('account') }}">Retour au compte</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
